@use "../../Style" as *;

.actions-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.action-button {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  background-color: $white;
  color: $gray-800;
  font-weight: bold;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  border: 2px solid $gray-300;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;

  &:hover {
    background-color: $gray-50;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
  }
}

.button-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.button-text {
  font-size: $font-size-18;
}
