@use "../../../Style.scss" as *;

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.625rem 1rem;
  border-radius: 0.25rem;
  font-size: $font-size-14;
  font-weight: $font-weight-500;
  cursor: pointer;
  transition: background-color 0.2s, border-color 0.2s;
  border: 1px solid transparent;
  gap: 0.5rem;
}

.primary {
  background-color: $white;
  color: $primary-black;
  font-weight: $font-weight-500;
  border-color: $white;
}

.primary:hover {
  background-color: $primary-button-background;
}

.secondary {
  background-color: transparent;
  color: $white;
  border-color: $white;
}

.secondary:hover {
  background-color: $secondary-button-background;
}

.button-icon {
  display: inline-flex;
  align-items: center;
}
