@use "../../Style" as *;

.navbar {
  background-color: $white;
  border-bottom: 1px solid $gray-200;
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-left {
  display: flex;
  align-items: center;
}

.logo {
  width: 10.5rem;
  height: 7.5rem;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.nav-db-icon {
  width: 5.3rem;
  height: 3.75rem;
}
.nav-center {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nav-button {
  padding: 0.5rem;
  border-radius: 50%;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: $gray-100;
  }
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  color: $gray-600;
}
