@use "../../Style" as *;

.welcome-container {
  position: relative;
  padding: 0 2.5rem 0 2.5rem;
}

.welcome-message {
  position: relative;
  background-color: $primary-red;
  color: $white;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.welcome-text {
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.6;
}

.welcome-arrow {
  position: absolute;
  top: -0.9rem;
  left: 5rem;
  width: 0;
  height: 0;
  border-left: 1.25rem solid transparent;
  border-right: 1.25rem solid transparent;
  border-bottom: 1.25rem solid $primary-red;
}
