// Color variables
$primary-red: #ec0016;
$primary-black: #292d37;
$gray-900: #111827;
$gray-800: #1f2937;
$gray-600: #4b5563;
$gray-500: #6b7280;
$gray-400: #9ca3af;
$gray-300: #d1d5db;
$gray-200: #e5e7eb;
$gray-100: #f3f4f6;
$gray-50: #f9fafb;
$white: #ffffff;
$black: #000000;

// font variables
$font-size-14: 0.875rem;
$font-weight-500: 500;
$font-weight-600: 600;
